.add-section {
    position: relative;
    border-radius: 20px;
    background-color: rgb(66, 75, 92);
    width: 600px;
    height:840px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.add-section h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: antiquewhite;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.add-section>input[type="text"]{
    background: antiquewhite;
    padding: 6px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 75, 92);
    height:20px;
    display: block;
    width: 70%;
    margin: auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

textarea{
    background: antiquewhite;
    padding: 6px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 75, 92);
    height:75px;
    display: block;
    width: 70%;
    margin: auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

label[for="name"],
label[for="location"],
label[for="town"],
label[for="country"],
label[for="imageUrl"],
label[for="description"] {
    color: antiquewhite;
    padding: 20px;
    padding-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    height:20px;
    display:block;
    width: 70%;
    margin: auto; 
}

.addBtn{
    width:90px;
    height:50px;
    margin: auto; 
    margin-top: 40px;
    display: block;
    border: 2px solid black;
    transition: background-color .3s;
    font-size: 20px;
    color: rgb(66, 75, 92);
    background: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.addBtn:enabled:hover{
    background: rgb(66, 75, 92);
    color: antiquewhite;
    cursor: pointer;
}

.addBtn:disabled:hover{
    cursor: not-allowed;
}

.add-section label:nth-of-type(n+2) {
    margin-top: 10px;
}

.error{
    width:70%;
    margin:auto;
    height: 25px;
    margin-top:5px;
    font-size: 18px;
    color:crimson;
}
.error+label{
    padding-top: 0;
    margin: auto;
}

.error+.addBtn{
    margin-top: 10px;
}