#all-landmarks-page {
    background-color: rgb(66, 75, 92);
    margin: auto;
    margin-top: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}

#all-landmarks-page h1,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    color: antiquewhite;
    padding-top: 50px;
    text-align: center;
}

#all-landmarks-page h3 {
    padding-bottom: 50px;
}

.singleLandmark {
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 50px;
    width: 300px;
    height: 400px;
}

.short {
    height: 340px;
}

.imageContainer {
    height: 200px;
    width: 300px;
    background-color: #30343a;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.imageContainer img {
    object-fit: contain;
    max-width: 300px;
    max-height: 200px;
}

.details-button {
    width: 90px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background: #30343a;
    color: antiquewhite;
    border: 2px solid black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}

.details-button:hover {
    color: #30343a;
    background: antiquewhite;
}

#landmark-info-container>h6,
h2 {
    font-size: 20px;
    color: #30343a;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px
}

#welcome h1 {
    font-size: 40px;
}

#home-para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: antiquewhite;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pagination a,
button {
    color: antiquewhite;
    float: left;
    background-color: #30343a;
    padding: 16px 24px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid antiquewhite;
}

.pagination a.active {
    background-color: antiquewhite;
    color: #30343a;
  }

.pagination a:hover:not(.active) {
    background-color: antiquewhite;
    color: #30343a;
}

.pagination button:hover:not(.active) {
    background-color: antiquewhite;
    color: #30343a;
}