#details-section {
    background-color: rgb(66, 75, 92);
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 1000px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#details-container {
    float: right;
}

#details-container>* {
    display: flex;
}

#details-btn-container {
    justify-content: center;
}

#details-container>p:nth-of-type(n+2){
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    color: antiquewhite;
}

#details-section h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 30px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#details-section>* {
    display: inline-block;
    width: 60%;
    height: 100%;
}

#details-container {
    position: relative;
}

#details-image-map-container {
    background-color: #30343a;
    float: left;
    width: 40%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#details-image-container {
    background-color: #30343a;
    margin: auto;
    width: 400px;
    height:373px;
    display: flex;
    justify-content: center;
}

#details-image-container img {
    object-fit: contain;
    max-width: 400px;
    max-height: 500px;
}

#map{
    width: 400px;
    height:373px;
}

#details-image-map-container button {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

#details-image-map-container p {
    position: absolute;
    left: 105px;
    width: 55%;
    text-align: center;
    display: none;
    bottom: 20px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    color: #30343a;
    background: antiquewhite;
    border: 2px solid black;
    border-left: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#edit-btn,
#delete-btn,
#map-btn {
    width: 90px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin: 20px;
    background: #30343a;
    color: antiquewhite;
    text-decoration: none;
    border: 2px solid black;
    transition: background-color .3s;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}

#edit-btn:hover,
#delete-btn:hover,
#map-btn:hover {
    color: #30343a;
    background: antiquewhite;
    cursor: pointer;
}

#map-btn:hover+p{
    display: block;
}

#details-btn-container {
    position: absolute;
    bottom: 20px;
    left: 146px;
}